@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgba(222, 222, 222, 0.13);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
    margin: 0 auto;
}

.header {
    background-color: #fff;
    -webkit-box-shadow: 5px 2px 19px -6px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 5px 2px 19px -6px rgba(34, 60, 80, 0.2);
    box-shadow: 5px 2px 19px -6px rgba(34, 60, 80, 0.2);
}

.header-wrapper {
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
}

.header-wrapper > * {
    padding: 0 7rem;
}

.header__title {
    font-size: 1.3rem;
    font-weight: 500;
}
